.home-body {
  overflow: auto;
  background-image: url('../../public/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(0, 89, 128);
  color: rgb(218, 215, 215);
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}

.logo img {
  width: 40px;
}

.nav-buttons {
  display: flex;
 margin-left: 55%;
}

.logout {
  cursor: pointer;
}

.center-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: 8%;
}

.container h3 {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row; 
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0; 
  margin: 30px;
  padding: 70px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 65;
  margin-top: -1%;
}

.section-container {
  margin-bottom: 10px;
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
}

.button {
  margin-bottom: 50%;
  margin: -110px;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 85px;
  cursor: pointer;
  background-color: rgb(239, 173, 66);
  color: #2d2c2c;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 0 10px rgb(0, 90, 128);
}
.emergency-section {
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}
.leftlogo {
  display: flex;
  align-items: center; 
}

.logo {
  margin-right: 2px; 
}

.heading {
 color: rgb(239, 173, 66);
  margin-left: 2px; 
}
.footer {
  padding: 20px;
  background-color: rgb(0, 89, 128);
  color: rgb(218, 215, 215);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.nav-buttons a {
  text-decoration: none; 
  color: rgb(237, 233, 233); 
  margin-right: 20px; 
}

.nav-buttons a:hover {
  text-decoration: none; 
  color: #fff; 
}

.tick-mark {
  color: #101010; 
}

.center-content p::before {
  content: '\2022'; 
  color: #f1c40f; 
  margin-right: 5px; 
  font-weight: bold; 
}