.appointment-details-container {
  position: relative;
  margin-top: 50px;  
  bottom: auto;
  z-index: 1;
  border-radius: 3px;
}

.back-button {
  left: 2px;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 4px 8px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-right: 500px;
  
  /* z-index: 2; */
  border: 1px solid #282828; /* Increased border width to make it bold */
}

.appointment-table th, .appointment-table td {
  border: 1px solid #040404; /* Increased border width to make it bold */
  /* padding: 1px; */
  text-align: left;
}

.appointment-table th {
  background-color:  rgb(238, 221, 231);
}

.appointmentview-body {
   overflow: auto;
  background-color: rgb(184, 213, 242);
  background-size: cover;
  background-position: center;
  background-size: 150% 150%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.appointment-details-container h2 {
  margin-top: 10px;
  color: rgb(36, 36, 77);
}