.doctor-availability-container {
    max-width: 800px;
    margin: 20px auto; /* Set margin to 20px on top and bottom, and auto on left and right */
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .doctor-table {
    width: 100%; /* Set the width to 100% */
    border-collapse: collapse;
    margin-top: 30px;
    height: 250px;
    border: 1px solid #282828;
    overflow-y: auto; 
    background-color: white;
  }
  
  .doctor-table th, .doctor-table td {
    border: 1px solid #171616;
    padding: 8px;
    text-align: left;
  }
  
  .doctor-table th {
    background-color: #e8e0e0;
  }
  
  .doctor-table tbody tr:nth-child(even) {
    background-color: #b1afaf;
  }
  .doctor-table tbody tr:nth-child(odd) {
    background-color: #c1bdbd;
  }
  
  .doctor-table button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #0e0d0d;
    border: none;
    border-radius: 3px;
  }
  
  .doctor-table button:hover {
    background-color: #0056b3;
  }
  
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-dialog {
    width: 400px;
  }
  
  .modal-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .modal-body {
    font-size: 16px;
  }
  
  .modal-footer {
    justify-content: space-between;
  }
  
  .modal-footer button {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .modal-footer button.secondary {
    background-color: #ccc;
    color: #333;
  }
  
  .modal-footer button.primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .modal-footer button:hover.primary {
    background-color: #0056b3;
  }
  
  .doctoravailability-body {
    overflow: auto;
   background-color: rgb(184, 213, 242);
   background-size: cover;
   background-position: center;
   background-size: 100% 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center; 
 }