.header h1 {
    text-align: center;
    text-decoration: none; 
  }
  
  .header-link {
    color: inherit; 
    text-decoration: none;
  }
  
  .header-link:hover {
    text-decoration: none; 
  }
  